.sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.sidebar {
  display: flex;
  gap: 12px;
  padding: 14px 30px;
}

.sidebar:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 8px;
}

.profile-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.sidebar-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
