.header-section {
  height: 80px;
  background-color: rgb(250, 245, 239);
  display: flex;
  align-items: center;
}

.header-section-title,
.header-search-bar-section,
.header-right-section {
  display: flex;
  align-items: center;
}

.header-section-title {
  padding-left: 50px;
  font-weight: bold;
  font-size: 24px;
  flex: 1;
  justify-content: flex-start;
}

.header-search-bar-section {
  flex: 2;
  justify-content: center;
}

.header-right-section {
  flex: 1;
  justify-content: flex-end;
}
